@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);


@media only screen and (max-width: 2200px) {
  body {
    position: absolute;
    color: #130C0E;
    font-family: AtlasGrotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 36px;
    width: 100%;
  }

  h2 {
    font-size: 40px;
  }


  .method {
    color: grey;
    padding-top:5em;
    padding-left: 15em;
    padding-right: 15em;
    font-size: 20px;
  }


  .chart-mobile {
    display: none;
  }

  span {
    font-weight: bold;
    font-size:25px;
  }

  p {
    padding-top: 30px;
    font-size: 24px;
  }

  p .instruction{
  position:center;
  }

  header {
    padding-top: 40px;
    text-align: center;
  }

  .content {
    padding-left: 20em;
    padding-right: 20em;

  }

  .wage {
    margin-top: 100px;
    font-size: 18px;
    width: 80%;
    text-align: center;
  }

  iframe {
    width: 140%;
  }

  #slopegraph {
  }

  #slopegraph text {
    font-size: 24px;
  }

  .slopegraph {
    padding-left: 260px;
  }

  footer {
    position: relative;
  }

  .l-labels, .r-labels {
    font-size: 14px;
  }

  #reset {
    font-size: 20px;
    background: #130C0E;
    color: #7AC143;
    position: absolute;
    border: none;
    outline: none;
    padding: 10px 12px;
    letter-spacing: 1px;
    left: 0;
  }

  #reset:hover {
    background: #7AC143;
    color: #130C0E;
  }

  #nav-alt ul {
    list-style: none;
    margin-left: 80px;
  }

  #nav-alt ul li {
    display: inline-block;
    padding: 4px 4px;
    background: #FDBB30;
    font: cursor: pointer;
    font-size: 24px;
    margin-right: 1px;
  }

  #nav-alt ul li:hover {
    background: #7AC143;
  }

  text.s-title {
    fill: #130C0E;
    letter-spacing: 1px;
    padding-left: 10px;
  }

  #chart {
    font-family: AtlasGrotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
  }

  .title {
    font-weight: bold;
    font-size: 10px;
    margin-top: 6px;
    margin-left: 110px;
    margin-bottom: 20px;
  }

  .title p {
    margin-left: 60px;
  }

  text {
    pointer-events: none;
  }

  .grandparent text {
    font-weight: bold;
    font-size: 25px;
  }

  rect {
    fill: none;
    stroke: #fff;
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 2px;
    fill:#eee;
  }

  rect.parent {
    pointer-events: none;
  }

  .grandparent rect {
    height:30px;
    padding-bottom:50px;
  }

  .grandparent:hover rect {
  }

  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }

  .children rect.parent {
    fill-opacity: .7;
  }

  .children:hover rect.child {
  }

}

@media only screen and (max-width: 420px) {

  body{
    position: absolute;
    width:250%;
  }

  .chart-mobile{
    display: block;
    padding-left:0;

  }

  .chart-web{
    display:none;
  }

  .grandparent text {
    font-weight: bold;
    font-size:10px;
  }


  p{
  font-size:10px;
}

  header {
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
  }


  .slopegraph{
    font-size:10px;
  }
}
